:root {
    --header-color: #ff6900;
}


header > .container > img {
    width: 15%;
    height: auto;
}

header {
    padding: 10px 5px;
    background-color: var(--header-color);
}

.items_container {
    width: 70%;
    margin: 0 auto;
    column-gap: 20px;
    row-gap: 40px;
}

.shop_categories {
    list-style: none;
    margin: 0;
    padding: 0;
}

.shop_categories > li {
    display: inline-block;
}


.item {
    flex-grow: 1;
    flex-basis: auto;
    width: calc((100%/3) - 20px);
    /* border: 1px dashed black; */
}

.item > img {
    width: 100%;
    height: auto;
}